/*-- scss:defaults --*/ 

// Import fonts

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Oleo+Script:wght@400;700&display=swap');


// Colors
$lavender: #E6E6FA;
$green: #008a00;
$cream: #FDFBF7;
$black: black;


// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $black; // navbar foreground elements
$navbar-hl: $green; // highlight color when hovering over navbar links
$body-bg: $lavender; // page background 
$body-color: $black; // page text 
$footer-bg: $cream; // footer 
$link-color: $green; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $green; // inline code text color

/*-- scss:rules --*/